.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.774);
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.logo-youtube {
    flex-direction: row;
    align-items: center;
}

.menu {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 2.5%;
    left: 0.8%;
    padding: 0px;
}

.logo-youtube img {
    position: absolute;
    left: 34px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.logo-youtube h1 {
    position: absolute;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 20px;
    color: #fff;
    top: 12.5px;
    left: 85px;
    margin: 10px;
}

.barra-busqueda {
    display: inline-block;
    position: absolute;
    padding: 5px 10px;
    border: solid 1px grey;
    border-radius: 20px;
    align-content: center;
    width: 30%;
    height: 3%;
    left: 30%;
    top: 12.5px;
    margin: 0px 5% 0px 5%;
}

.barra-busqueda input {
    position: absolute;
    border: none;
    border-radius: 20px;
    outline: none;
    padding-top: 5px;
    font-size: 13px;
    flex: auto;
    background-color: transparent;
    color: #fff;
    align-content: center;
    width: 88%;
}

.barra-busqueda .search {
    position: absolute;
    border: none;
    outline: none;
    left: 90%;
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
}

.barra-busqueda .mic {
    position: absolute;
    padding-top: 5px;
    align-content: center;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: auto;
    left: 102%;
    top: 1px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.iconos-lateral {
    position: absolute;
    top: 12.5px;
    left: 89.5%;
    flex-direction: row;
    gap: 5%;
    padding: 5px 10px;
}

.videocam {
    background-color: transparent;
    border: none;
    color: #fff;
}

.notifications {
    background-color: transparent;
    border: none;
    color: #fff;
}

.usuario {
    background-color: transparent;
    border: none;
    color: #fff;
}


.filtros {
    display: flex;
    position: absolute;
    top: 7.5%;
    left: 16%;
    gap: 1%;
    margin-right: 100%;
}

.all-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 40px;
}

.gaming-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.mixes-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.music-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.news-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.computer-btn {
    border: none;
    border-radius: 8px;
    padding: 0px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 189px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.debates-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.live-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.combat-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 180px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.car-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.watch-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.new-btn {
    border: none;
    border-radius: 8px;
    padding: 0px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 130px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.arrow-icon {
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: transparent;
    color: #fff;
}

aside {
    position: absolute;
    top: 8%;
    left: 0.2%;
    height: 80vh;
}

.btn-home {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    padding-bottom: 5px;
    height: 30px;
    align-items: center;
}

.btn-home-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-home-name {
    color: #fff;
    font-size: 14px;
}

.btn-shorts {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 5px;
}

.btn-shorts-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-shorts-name {
    color: #fff;
    font-size: 14px;
}

.btn-subscription {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 5px;
}

.btn-subscription-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-subscriptions-name {
    color: #fff;
    font-size: 14px;
}

.container-section-2 {
    border-top: 1px solid white;
    margin: 12px 0px 0px;
    padding: 12px 0px 0px;
}

.btn-library {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.btn-library-icon {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-library-name {
    color: #fff;
    font-size: 14px;
}

.btn-history {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.btn-history-icon {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-history-name {
    color: #fff;
    font-size: 14px;
}

.btn-your-videos {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.btn-your-videos-icon {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-your-videos-name {
    color: #fff;
    font-size: 14px;
}

.btn-watch-later {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.btn-watch-later-icon {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-watch-later-name {
    color: #fff;
    font-size: 14px;
}

.btn-liked-videos {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.btn-liked-videos-icon {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-liked-videos-name {
    color: #fff;
    font-size: 14px;
}

.container-section-3 {
    border-top: 1px solid white;
    margin: 12px 0px 0px;
    padding: 12px 0px 0px;
}

.titulo-subscription {
    color: #fff;
    margin: 2px 5px 10px 2px;
    padding: 2px;
    font-size: 16px;
}

.canal-1 {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.canal-1-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.canal-1-name {
    color: #fff;
    font-size: 14px;
}

.canal-2 {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.canal-2-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.canal-2-name {
    color: #fff;
    font-size: 14px;
}

.canal-3 {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.canal-3-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.canal-3-name {
    color: #fff;
    font-size: 14px;
}

.canal-4 {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.canal-4-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.canal-4-name {
    color: #fff;
    font-size: 14px;
}

.canal-5 {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.canal-5-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.canal-5-name {
    color: #fff;
    font-size: 14px;
}

.canal-6 {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.canal-6-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.canal-6-name {
    color: #fff;
    font-size: 14px;
}

.canal-7 {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.canal-7-icono {
    color: #fff;
    background-color: transparent;
    border: none;
}

.canal-7-name {
    color: #fff;
    font-size: 14px;
}

.show-more {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 8px;
}

.show-more-icon {
    color: #fff;
    background-color: transparent;
    border: none;
}

.show-more-name {
    color: #fff;
    font-size: 14px;
}



/* Modificaciones para pantalla */

@media screen and (max-width:800px){
    .menu {
        display: none;
    } 
    .logo-youtube img {
        left: 10px;
    }
    .logo-youtube h1 {
        left: 60px;
    }

    .barra-busqueda {
        border: none;
        left: 45%;
        top: 12.6px;
    }
    .barra-busqueda input {
        display: none;
    }
    .barra-busqueda .search{
        height: 50%;
        margin-bottom: 12px;
        left: 85%;
    }

    .mic {
        display: none;
    }

    .iconos-lateral .videocam {
        display: none;
    }

    .iconos-lateral .notifications {
        display: none;
    }

    .filtros {
        position: absolute;
        top: 63px;
        right: 300px;
        margin: 0;
        gap: 5%;
    }

    .new-btn {
        display: none;
    }

    .computer-btn {
        display: none;
    }

    .debates-btn {
        display: none;
    }

    .live-btn {
        display: none;
    }

    .combat-btn {
        display: none;
    }

    .car-btn {
        display: none;
    }

    .watch-btn {
        display: none;
    }

    .new-btn {
        display: none;
    }

    aside {
        position: absolute;
        top: 100%;
        left: 10px;
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .container-section-1 {
        position: absolute;
        top: 100%;
        flex-direction: row;
    }

    .btn-home {
        flex-direction: row;
    }
    
    .btn-history {
        display: none;
    }

    .btn-your-videos {
        display: none;
    }

    .btn-watch-later {
        display: none;
    }

    .btn-liked-videos {
        display: none;
    }

    .container-section-3 {
        display: none;
    }
}