.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.774);
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.logo-youtube {
    flex-direction: row;
    align-items: center;
}

.menu {
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 2.5%;
    left: 0.5%;
    padding: 0px;
}

.logo-youtube img {
    position: absolute;
    left: 30px;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.logo-youtube h1 {
    position: absolute;
    font-weight: 400;
    letter-spacing: -1px;
    font-size: 20px;
    color: #fff;
    top: 12.5px;
    left: 79px;
    margin: 10px;
}

.barra-busqueda {
    display: inline-block;
    position: absolute;
    padding: 5px 10px;
    border: solid 1px grey;
    border-radius: 20px;
    align-content: center;
    width: 30%;
    height: 3%;
    left: 30%;
    top: 12.5px;
    margin: 0px 5% 0px 5%;
}

.barra-busqueda input {
    position: absolute;
    border: none;
    border-radius: 20px;
    outline: none;
    padding-top: 5px;
    font-size: 13px;
    flex: auto;
    background-color: transparent;
    color: #fff;
    align-content: center;
    width: 88%;
}

.barra-busqueda .search {
    position: absolute;
    border: none;
    outline: none;
    left: 90%;
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
}

.barra-busqueda .mic {
    position: absolute;
    padding-top: 5px;
    align-content: center;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: auto;
    left: 102%;
    top: 1px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.iconos-lateral {
    position: absolute;
    top: 12.5px;
    left: 89.5%;
    flex-direction: row;
    gap: 5%;
    padding: 5px 10px;
}

.videocam {
    background-color: transparent;
    border: none;
    color: #fff;
}

.notifications {
    background-color: transparent;
    border: none;
    color: #fff;
}

.usuario {
    background-color: transparent;
    border: none;
    color: #fff;
}


.filtros {
    display: flex;
    position: absolute;
    top: 7.5%;
    left: 16%;
    gap: 2%;
    margin-right: 100%;
}

.all-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 40px;
}

.gaming-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.mixes-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.music-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.news-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.computer-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 12px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 230px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}

.debates-btn {
    border: none;
    border-radius: 8px;
    padding: 0px 10px;
    align-items: center;
    font-size: 14px;
    height: 32px;
    width: 70px;
    background-color: rgba(128, 128, 128, 0.132);
    color: #fff;
}













/* Modificaciones para pantalla */

@media screen and (max-width:800px){
    .logo-youtube img {
        left: 10px;
    }
    .logo-youtube h1 {
        left: 60px;
    }

    .barra-busqueda {
        border: none;
        left: 45%;
        top: 12.6px;
    }
    .barra-busqueda input {
        display: none;
    }
    .barra-busqueda .search{
        height: 50%;
        margin-bottom: 12px;
        left: 77.2%;
    }

    .iconos-lateral .videocam {
        display: none;
    }

    .iconos-lateral .notifications {
        display: none;
    }
}